.jumbotron {
    /* background-image: url(img/WALLPAPPER3.jpg); */
    /* background-size: cover; */
    /* background-position: 0 -80px; */
    /* background-attachment: fixed..; */
    padding-top: 6rem;
    background-color: #0F1217;
    color: #e6e9f5;
}

#distro {
    background-color: #0F1217;
}

section {
    padding-top: 5rem;
}

/* 
Photo by <a href="https://unsplash.com/@andredantan19?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Andre Tan</a> on <a href="https://unsplash.com/s/photos/clothing-store?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  

Photo by <a href="https://unsplash.com/@agusu?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">agus</a> on <a href="https://unsplash.com/s/photos/clothing-store?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
Photo by <a href="https://unsplash.com/@phocoz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kwame Anim</a> on <a href="https://unsplash.com/s/photos/clothing-store?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
Photo by <a href="https://unsplash.com/@aromatiche?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">AROMATEEC</a> on <a href="https://unsplash.com/s/photos/clothing-store?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

Photo by <a href="https://unsplash.com/@priscilladupreez?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Priscilla Du Preez</a> on <a href="https://unsplash.com/s/photos/clothing-store?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  

Photo by <a href="https://unsplash.com/@mnzoutfits?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mnz</a> on <a href="https://unsplash.com/s/photos/clothing-store?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  

Photo by <a href="https://unsplash.com/@alexandernaglestad?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexander Naglestad</a> on <a href="https://unsplash.com/s/photos/clothing-store?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  

*/